
  <h2 ng-if="items.length > 0">Items found {{items.length}}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Short name</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td>
          {{item.short_name}}
        </td>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.description}}
        </td>
        <td>
          <button ng-click="onRemove({index: $index})" class="btn btn-danger">Don't want this one!</button>
        </td>
      </tr>
    </tbody>

  </table>
  <div class="error" ng-if="items.length == 0">
    Nothing found
  </div>
