<!DOCTYPE html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service</h1>
    <div ng-controller='ToBuyController as ToBuyAdder'>
      <input type="text" ng-model="ToBuyAdder.itemQuantity" placeholder="quantity">
      <input type="text" ng-model="ToBuyAdder.itemName" placeholder="item name">
      <button ng-click="ToBuyAdder.addItem();">Add EXTRA Item To Shopping List</button>
    </div>


    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as BroughtList'>
    <h2>To Buy</h1>
      <ul>
        <li ng-repeat="item in BroughtList.items">
          {{ item.quantity }} {{ item.name }}
          <button ng-click="BroughtList.removeItem($index);">
            <span class="glyphicon glyphicon-ok"></span>
            Bought</button>
        </li>
      </ul>
    </div>

    <!-- Bought List -->
    <div class="col-md-6" ng-controller='TestController as Test'>
     <h2>Bought Items </h2>
     <ul>
       <li ng-repeat="item in Test.boughtList"> {{item.quantity}} {{item.name}}
         <button ng-click="Test.removeBought($index);">
           <span class="glyphicon glyphicon-remove"></span> I don't want it
         </button>
         <button ng-click="Test.removeBought($index);">
             <span class="glyphicon glyphicon-remove"></span> Add back to To-Buy
         </button>
       </li>
     </ul>
     <div class="emptyMessage">Everything is bought!</div>
   </div>

  </body>
</html>
